{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<body style="background:linear-gradient(to bottom, #ffae00bb,rgba(255, 0, 0, 0)) no-repeat; ">

  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <br>
        <h2>Postulantes</h2>
        <br>

        <div class="card" style="width: 100%; margin: auto; border: none;">
          <div class="card-body" style="margin: 20px;">
            <table class="table table-sm">

              <thead>
                <tr>

                  <th scope="col"></th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                  <th scope="col"></th>


                </tr>
                {% if listarPostulacion %}
                {% for p in listarPostulacion %}
              </thead>
              <tbody>
                  
                <tr>
                  <th scope="row"></th>

                  <td>
                    <a style="text-decoration: none; color: black;" href="{% url 'detalle_postulacion' p.pk %}">{{p.nombre}} {{p.apellido}}</a>
                  </td>

                  <td>{{p.email}}</td>
              

                  {% endfor %}
                 
              </tbody>
              {% else %}
              <h1>No hay registro de Postulaciones</h1>

              {% endif %}
            </table>


          </div>
        </div>
       
      </div>
      <div class="col-2"></div>
    </div>
  </div>

</body>


{% endblock %}

</html>