{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<body style="background:linear-gradient(to bottom, #ffae00bb,rgba(255, 0, 0, 0)) no-repeat; ">

	<div class="container mt-5">
        <div class="col-6" style="margin:auto;">
            <div class="card shadow p-3 mb-5 bg-grey rounded" style="width: 100%; margin: auto; margin-top: 200px; border: 0; background-color: rgb(245, 245, 245);" >
                <div class="card-body" style="margin: 30px">
                    <h1 class="text-center" style="font-family: calibri; margin-bottom: 30px; color:rgb(0, 0, 95); font-weight: bold;">Iniciar Sesión</h1>                  
                    <div class="mb-3">
                    {% load crispy_forms_tags %}
                    <form class="row" id="loginForm" method="post" action="">
                        {% csrf_token %}

                        {{ form | crispy }}
                          <div class="mb-3">
                        
                          </div>
                        <div class="col-12" >
                          <button type="submit" style="width: 100%" class="btn btn-primary">Login</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}