{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<body>
<!--CONTENIDO-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                
                <a href="{% url 'categoria-internacional' %}">
                    <h2>INTERNACIONAL</h2>
                </a>
                <h1>
                    Condenan a Stormy Daniels a pagar otros US$ 120.000 a los abogados de Trump: Ya suma más de US$ 600.000
                </h1>
                <h3>Por: <a href="#">John Cena</a></h3>
                <h3>05 de Abril, 2023</h3>
                <hr>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <hr>
                <div>
                    <img class="mainImageStyle" src="{% static './images/trump.png' %}" alt="trump">
                </div>
                
                <hr>
                <div class="paragraph">
                    (CNN en español) – A 5.000 kilómetros de su drama legal neoyorquino, 
                    Donald Trump se aseguró una importante victoria en otro tribunal.
                </div>

                <div class="paragraph">
                    El Tribunal de Apelaciones del Noveno Circuito de EE.UU. se puso del lado del expresidente en su intento de recuperar los honorarios legales adicionales de la estrella
                     de cine para adultos Stormy Daniels, que había presentado y perdido una demanda por difamación contra él.
                </div>
                <div class="paragraph">
                    
                </div>
                <div class="paragraph">
                    Daniels fue condenada a pagar a los abogados de Trump algo más de US$ 120.000 en honorarios legales. Eso se suma a 
                    los más de US$ 500.000 en pagos ordenados por el tribunal a los abogados de Trump que ya se le ordenó pagar.
                </div>
                <div class="paragraph">
                    El litigio civil no está oficialmente relacionado con el arresto de Trump y los cargos presentados en su contra en Nueva York, pero ambos involucraron a Daniels, a quien se le supuestamente pagaron US$ 130.000 en dinero durante
                     la campaña presidencial de 2016 para que guardara silencio sobre un romance. (Trump niega el romance).
                </div>
                <div class="paragraph">
                    Daniels había demandado a Trump en 2018 después de que él calificara de “estafa total” en un tuit una acusación de Daniels de que un desconocido la 
                    amenazó en un aparcamiento para que guardara silencio sobre su supuesto romance con Trump.
                </div>
                <div class="paragraph">
                    Al desestimar la demanda en octubre de 2018, el juez de distrito S. James Otero dijo que la declaración 
                    de Trump estaba protegida por la Primera Enmienda.
                </div>
                <div class="paragraph">
                    “El Tribunal está de acuerdo con el argumento del señor Trump porque el tuit en cuestión constituye una ‘hipérbole retórica’ normalmente asociada con la política y el discurso público en 
                    Estados Unidos. La Primera Enmienda protege este tipo de declaraciones retóricas”, escribió entonces Otero.
                </div>
                <div class="paragraph">
                    Más tarde, Otero condenó a Daniels a pagar US$ 293.000 en honorarios de abogados. También se le ordenó 
                    pagar US$ 245.000 en honorarios después de perder otra apelación.
                </div>
                <div class="paragraph">
                    Daniels, cuyo nombre legal es Stephanie Clifford, había pedido al tribunal de apelaciones que anulara 
                    otra sentencia. El tribunal rechazó su petición.
                </div>
                <div class="paragraph">
                    “El argumento de Clifford de que la solicitud de honorarios es 
                    irrazonable y excesiva no tiene fundamento”, señaló la presentación del 9º Circuito.
                </div>
                <div class="paragraph">
                    “Los abogados de Trump emplearon razonablemente las 183,35 horas solicitadas en preparar una moción de desestimación, una respuesta a la oposición a la moción,
                     dos mociones de prórroga, el escrito de contestación y la solicitud de honorarios”, añadía.
                </div>
                <div class="paragraph">
                    El abogado de Trump, Harmeet Dhillon, celebró el fallo en un tuit este martes, diciendo: “Felicitaciones al [ex]presidente Trump por esta victoria final de honorarios de abogados a su favor esta mañana. Colectivamente, nuestra firma obtuvo más de US$ 600.000 en 
                    adjudicaciones de honorarios de abogados a su favor en el litigio sin mérito iniciado por Stormy Daniels”.
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        
    </div>
</body>
{% endblock %}